.heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    .heading-line {
        width: 150px;
        height: 8px;
        background-color: $secondary-color;
        translate: 0 -2px
    }

    @include ssm {
        gap: 0.5rem;

        h3 {
            font-size: 15px;
        }

        .heading-line {
            width: 80px;
            height: 4px;
        }
    }

    @include md {
        h3 {
            font-size: 2em;
        }
    }

    @include xl {
        gap: 2em;

        h3 {
            font-size: 2.5em;
        }

        .heading-line {
            width: 15em;
            height: 0.8em;
        }
    }
}