$primary-color: #261170;
$secondary-color: #13BD19;
$additional-color: #961CBD;
$font-color: #ffffff;


$screen-1-min: 320px;
$screen-2-min: 481px;
$screen-3-min: 641px;
$screen-4-min: 961px;
$screen-5-min: 1025px;
$screen-6-min: 1281px;