.about {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    background: #000;
    overflow: hidden;

    .left-side {
        width: 50%;
        height: 100%;
    }

    .right-side {
        position: relative;
        width: 50%;
        height: 100%;
        background-color: #261170;

        img {
            width: 100%;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    .wrapper {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        z-index: 102;

        .left {
            width: 50%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2rem;
            padding-right: 50px;
            

            .social-media {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 1rem;
                
                button {
                    background-color: transparent;
                    border: none;
                    outline: none;
                    width: 35px;
                    height: 35px;
                    cursor: pointer;

                    a {
                        width: 100%;
                        height: 100%;
                        img {
                            width: 100%;
                            height: 100%;
                            filter: invert(99%) sepia(84%) saturate(2%) hue-rotate(215deg) brightness(107%) contrast(100%);
                            transition: filter .1s ease-in;
                            
                        }
                    }

                    &:hover {
                        a {
                            cursor: pointer;
                            img {
                                filter: invert(21%) sepia(92%) saturate(2309%) hue-rotate(273deg) brightness(87%) contrast(108%);
                            }
                        }
                    }
                }
            }
        }

        .right {
            padding-left: 50px;
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 100px;

            .heading {
                .heading-line {
                    background-color: $additional-color;
                }
            }

            .skills-container {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 2rem;

                .skill {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    gap: 2rem;
                    width: 20%;

                    p {
                        transition: all .2s ease-in;
                        opacity: 1;
                    }

                    img {
                        transition: all .2s ease-in;
                        width: 80%;

                    }

                    &:hover {
                        img {
                            scale: 1.2;
                        }
                    
                        p {
                            opacity: 1;
                        }
                    
                }
                }

                

                
            }
        }

    }

    @include ssm {
        flex-direction: column;
        .left-side {
            width: 100%;
            height: 50%;
        }

        .right-side {
            width: 100%;
            height: 50%;
        }

        .wrapper {
            flex-direction: column;
            .left {
                width: 100%;
                height: 50%;
                padding: 0;
                gap: 2em;

                .social-media {
                    button {
                        width: 1.5em;
                        height: 1.5em;
                    }
                }

                h2 {
                    font-size: 2em;
                    font-weight: bold;
                }

                .heading {
                    h3 {
                        font-size: 1em;
                    }
                }
            }

            .right {
                width: 100%;
                height: 50%;
                padding: 0;
                gap: 4em;

                .heading {
                    h3 {
                        font-size: 1em;
                    }
                }

                .skills-container {
                    gap: 2em;

                    .skill {
                        gap: 1.5em;

                        img {
                            width: 70%;
                        }
                    }
                }
            }
        }
    }

    @include md {
        .wrapper {
            flex-direction: column;
            .left {
                width: 100%;
                height: 50%;
                padding: 0;
                gap: 3.5em;

                .social-media {
                    button {
                        width: 2em;
                        height: 2em;
                    }
                }

                h2 {
                    font-size: 3.4em;
                    font-weight: bold;
                }

                p {
                    font-size: 1.5em;
                }

                .heading {
                    h3 {
                        font-size: 2em;
                    }
                }
            }

            .right {
                width: 100%;
                height: 50%;
                padding: 0;
                gap: 5em;

                .heading {
                    h3 {
                        font-size: 2em;
                    }
                }

                .skills-container {
                    gap: 3em;

                    .skill {
                        gap: 3em;

                        img {
                            width: 50%;
                        }

                        p {
                            font-size: 2em;
                        }
                    }
                }
            }
        }
    }

    @media (orientation: landscape) and (min-width: $screen-3-min) {
        flex-direction: row;

        .left-side {
            width: 50%;
            height: 100%;
        }

        .right-side {
            width: 50%;
            height: 100%;
        }
        .wrapper {
            flex-direction: row;
            .left {
                width: 50%;
                height: 100%;
                padding: 0 5em 0 0;
                gap: 3.5em;

                .social-media {
                    button {
                        width: 2em;
                        height: 2em;
                    }
                }

                h2 {
                    font-size: 3.4em;
                    font-weight: bold;
                }

                p {
                    font-size: 1.5em;
                }

                .heading {
                    h3 {
                        font-size: 2em;
                    }
                }
            }

            .right {
                width: 50%;
                height: 100%;
                padding: 0 0 0 5em;
                gap: 5em;

                .skills-container {
                    gap: 2em;

                    .skill {
                        gap: 3em;

                        img {
                            width: 70%;
                        }

                        p {
                            font-size: 1.5em;
                        }
                    }
                }
            }
        }
    }
}