.Home {
    height: 100vh;
    width: 100%;
    display: flex;
   
        .left-hero {
            width: 50%;
            height: 100%;
            background: url('/public/img/blurry-gradient-haikei\ 1.svg') no-repeat;
            background-size: cover;
            background-position: right;
        }
    
        .right-hero {
            position: relative;
            width: 50%;
            height: 100%;
            // background: url('/public/img/me.png') no-repeat;
            // background-size: contain;
            // background-position: bottom;

            img {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 750px;

                @media screen and (min-width: 1480px) {
                    right: 20%;
                }
                @media screen and (min-width: 1640px) {
                    right: 35%;
                }
                @media screen and (max-height: 1000px)  {
                    width: 600px;
                }
                @media screen and (max-height: 800px) and (max-width: 1480px) {
                    width: 470px;
                    right: 15%;
                }

                @include rwd(992, 990) {
                    width: 30%;
                }
                
            }
        }
        
        .wrapper {
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .heading {
                margin-bottom: 40px;
            }
        }

    @include rwd(1350) {
        .wrapper {

            h1 {
                font-size: 55px;
            }

            h2 {
                font-size: 35px;
            }
        }
    }
    @include rwd(1250) {
        .wrapper {

            h1 {
                font-size: 50px;
            }

            h2 {
                font-size: 30px;
            }
        }
    }
    @include rwd(1150) {
        .wrapper {

            h1 {
                font-size: 45px;
            }

            h2 {
                font-size: 25px;
            }
        }
    }
    @include rwd(1050) {
        .wrapper {

            h1 {
                font-size: 42px;
            }

            h2 {
                font-size: 22px;
            }
        }
    }
    
    @include lg {
        flex-direction: column;

        .left-hero {
            width: 100%;
            height: 45%;
        }

        .right-hero {
            width: 100%;
            height: 55%;

            img {
                width: 70%;
                right: 0;
                // transform: translateX(50%);
            }
        }

        .wrapper {
            justify-content: flex-start;
            margin-top: 150px;

            h1 {
                font-size: 50px;
            }

            h2 {
                font-size: 30px;
            }
        }
    }

    @include md {
        .right-hero {
            img {
                width: 55%;
                right: 50%;
                transform: translateX(50%);
            }
        }

        .wrapper {
            margin-top: 120px;

            h1 {
                font-size: 45px;
            }

            h2 {
                font-size: 25px;
            }
        }
    }

    @include sm {
        .right-hero {
            img {
                width: 85%;
                right: 50%;
                transform: translateX(60%);
                z-index: 999;
            }
        }

        .wrapper {
            margin-top: 100px;

            @media screen and (min-height: 896px) {
                margin-top: 130px;
            }

            .heading {
                margin-bottom: 10px;

                
            }

            h1 {
                font-size: 30px;
            }

            h2 {
                font-size: 20px;
            }
        }
    }
}