* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

@font-face {
  font-family: "Trap";
  src: url("/src/fonts/Trap-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Trap";
  src: url("/src/fonts/Trap-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Trap";
  src: url("/src/fonts/Trap-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
body {
  color: #ffffff;
}

h1 {
  font-size: 6em;
  font-family: "Trap";
  font-weight: bold;
}

h2 {
  font-size: 3.5em;
  font-family: "Trap";
  font-weight: 500;
}

h3 {
  font-size: 2em;
  font-family: "Trap";
  font-weight: normal;
}

p {
  font-family: "Trap";
  font-weight: normal;
}

button {
  font-family: "Trap";
  font-weight: "500";
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 80px;
}
@media only screen and (min-width: 320px) {
  .container {
    padding: 0 20px;
  }
}
@media only screen and (min-width: 641px) {
  .container {
    padding: 0 30px;
  }
}
@media only screen and (min-width: 1025px) {
  .container {
    padding: 0 60px;
  }
}

.main-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px 55px;
  background-color: #000;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 22px;
  margin-top: 20px;
  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.5));
  cursor: pointer;
  transition: 0.1s background-color ease-in-out;
}
.main-btn:hover {
  background-color: #961CBD;
}
@media only screen and (min-width: 320px) {
  .main-btn {
    padding: 10px 25px;
    font-size: 14px;
  }
}
@media only screen and (min-width: 641px) {
  .main-btn {
    padding: 10px 25px;
    font-size: 2em;
  }
}
@media only screen and (min-width: 961px) {
  .main-btn {
    padding: 15px 50px;
    font-size: 18px;
  }
}

.heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.heading .heading-line {
  width: 150px;
  height: 8px;
  background-color: #13BD19;
  translate: 0 -2px;
}
@media only screen and (min-width: 320px) {
  .heading {
    gap: 0.5rem;
  }
  .heading h3 {
    font-size: 15px;
  }
  .heading .heading-line {
    width: 80px;
    height: 4px;
  }
}
@media only screen and (min-width: 641px) {
  .heading h3 {
    font-size: 2em;
  }
}
@media only screen and (min-width: 1025px) {
  .heading {
    gap: 2em;
  }
  .heading h3 {
    font-size: 2.5em;
  }
  .heading .heading-line {
    width: 15em;
    height: 0.8em;
  }
}

.waves-container {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.waves-container .wave {
  width: 100%;
  height: 100%;
}
.waves-container .wave div {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 30%;
}
@media (orientation: landscape) and (min-width: 641px) {
  .waves-container {
    bottom: 0;
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: transparent;
  z-index: 9999;
}
.navbar .wrapper-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.navbar .wrapper-nav .hamburger {
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 111111;
}
.navbar .wrapper-nav .hamburger .line {
  height: 4px;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  transition: 0.2s;
}
.navbar .wrapper-nav .hamburger.active .line {
  transition-delay: 0.1s;
}
.navbar .wrapper-nav .hamburger.active .line:first-of-type {
  rotate: 45deg;
  translate: 0 10px;
}
.navbar .wrapper-nav .hamburger.active .line:nth-child(2) {
  opacity: 0;
}
.navbar .wrapper-nav .hamburger.active .line:last-of-type {
  rotate: -45deg;
  translate: 0 -10px;
}
.navbar .wrapper-nav .social-icons a {
  cursor: pointer;
}
.navbar .wrapper-nav .social-icons a img {
  width: 35px;
  height: 35px;
}
.navbar .wrapper-nav .social-icons a img:hover {
  color: #961CBD;
}
.navbar .wrapper-nav .social-icons #github {
  margin-right: 20px;
}
@media only screen and (min-width: 320px) {
  .navbar {
    height: 80px;
  }
  .navbar .wrapper-nav .social-icons {
    display: flex;
    align-items: center;
  }
  .navbar .wrapper-nav .social-icons a img {
    width: 25px;
    height: 25px;
  }
  .navbar .wrapper-nav .social-icons a img:hover {
    color: #961CBD;
  }
  .navbar .wrapper-nav .social-icons #github {
    margin-right: 10px;
  }
}

.Home {
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
}
.Home .left-hero {
  width: 50%;
  height: 100%;
  background: url("/public/img/blurry-gradient-haikei 1.svg") no-repeat;
  background-size: cover;
  background-position: right;
}
.Home .right-hero {
  position: relative;
  width: 50%;
  height: 100%;
}
.Home .right-hero img {
  position: absolute;
  bottom: 0;
  right: 25%;
  max-width: 65%;
}
@media only screen and (min-width: 320px) {
  .Home .right-hero img {
    right: 0;
    transform: translateX(5%);
    max-width: 90%;
  }
}
@media only screen and (min-width: 641px) {
  .Home .right-hero img {
    right: 0;
    transform: translateX(0);
    max-width: 75%;
  }
}
@media (orientation: portrait) and (min-width: 641px) {
  .Home .right-hero img {
    max-width: 150%;
  }
}
@media only screen and (min-width: 961px) {
  .Home .right-hero img {
    right: 0;
    max-width: 80%;
  }
}
@media only screen and (min-width: 1025px) {
  .Home .right-hero img {
    max-width: 70%;
    right: 15%;
  }
}
@media (min-width: 961px) and (min-height: 572px) {
  .Home .right-hero img {
    max-width: 80%;
    right: 10%;
  }
}
@media (min-width: 1025px) and (min-height: 572px) {
  .Home .right-hero img {
    max-width: 70%;
  }
}
@media (min-width: 1281px) and (min-height: 572px) {
  .Home .right-hero img {
    max-width: 70%;
  }
}
@media (min-width: 961px) and (min-height: 900px) {
  .Home .right-hero img {
    max-width: 100%;
    right: 10%;
  }
}
@media (min-width: 1025px) and (min-height: 900px) {
  .Home .right-hero img {
    max-width: 100%;
  }
}
@media only screen and (min-width: 1281px) {
  .Home .right-hero img {
    max-width: 60%;
    right: 20%;
  }
}
@media (min-width: 1281px) and (min-height: 900px) {
  .Home .right-hero img {
    max-width: 100%;
  }
}
@media (min-width: 1420px) and (min-height: 900px) {
  .Home .right-hero img {
    max-width: 80%;
  }
}
@media (min-width: 1800px) and (min-height: 900px) {
  .Home .right-hero img {
    max-width: 65%;
  }
}
.Home .wrapper {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Home .wrapper .heading {
  margin-bottom: 40px;
}
@media only screen and (min-width: 320px) {
  .Home {
    flex-direction: column;
  }
  .Home .left-hero {
    width: 100%;
    height: 45%;
  }
  .Home .right-hero {
    width: 100%;
    height: 55%;
  }
  .Home .wrapper {
    height: 45%;
    margin-top: 10px;
  }
  .Home .wrapper .heading {
    margin-bottom: 1em;
  }
  .Home .wrapper h1 {
    font-size: 3.5em;
  }
  .Home .wrapper h2 {
    font-size: 2em;
  }
}
@media only screen and (min-width: 641px) {
  .Home .wrapper .heading {
    margin-bottom: 1em;
  }
  .Home .wrapper h1 {
    font-size: 5.5em;
  }
  .Home .wrapper h2 {
    font-size: 3.5em;
  }
}
@media (min-width: 641px) and (min-height: 572px) {
  .Home {
    flex-direction: row;
  }
  .Home .left-hero {
    width: 55%;
    height: 100%;
  }
  .Home .right-hero {
    width: 45%;
    height: 100%;
  }
  .Home .wrapper {
    height: 100%;
    margin-top: 10px;
  }
  .Home .wrapper .heading {
    margin-bottom: 1em;
  }
  .Home .wrapper h1 {
    font-size: 5em;
  }
  .Home .wrapper h2 {
    font-size: 3em;
  }
}
@media (orientation: landscape) and (min-width: 641px) {
  .Home .left-hero {
    width: 50%;
  }
  .Home .right-hero {
    width: 50%;
  }
}
@media (orientation: landscape) and (max-width: 750px) and (min-height: 572px) {
  .Home .wrapper h1 {
    font-size: 4em;
  }
  .Home .wrapper h2 {
    font-size: 2em;
  }
}
@media (orientation: landscape) and (max-width: 850px) and (min-height: 572px) {
  .Home .wrapper h1 {
    font-size: 4.6em;
  }
  .Home .wrapper h2 {
    font-size: 2.6em;
  }
}
@media only screen and (min-width: 1025px) {
  .Home {
    flex-direction: row;
  }
  .Home .left-hero {
    width: 100%;
    height: 100%;
  }
  .Home .right-hero {
    width: 100%;
    height: 100%;
  }
  .Home .wrapper {
    height: 100%;
  }
  .Home .wrapper .heading {
    margin-bottom: 2em;
  }
  .Home .wrapper h1 {
    font-size: 6.5em;
  }
  .Home .wrapper h2 {
    font-size: 3.5em;
  }
}

.about {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  background: #000;
  overflow: hidden;
}
.about .left-side {
  width: 50%;
  height: 100%;
}
.about .right-side {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: #261170;
}
.about .right-side img {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.about .wrapper {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  z-index: 102;
}
.about .wrapper .left {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding-right: 50px;
}
.about .wrapper .left .social-media {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.about .wrapper .left .social-media button {
  background-color: transparent;
  border: none;
  outline: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.about .wrapper .left .social-media button a {
  width: 100%;
  height: 100%;
}
.about .wrapper .left .social-media button a img {
  width: 100%;
  height: 100%;
  filter: invert(99%) sepia(84%) saturate(2%) hue-rotate(215deg) brightness(107%) contrast(100%);
  transition: filter 0.1s ease-in;
}
.about .wrapper .left .social-media button:hover a {
  cursor: pointer;
}
.about .wrapper .left .social-media button:hover a img {
  filter: invert(21%) sepia(92%) saturate(2309%) hue-rotate(273deg) brightness(87%) contrast(108%);
}
.about .wrapper .right {
  padding-left: 50px;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
}
.about .wrapper .right .heading .heading-line {
  background-color: #961CBD;
}
.about .wrapper .right .skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.about .wrapper .right .skills-container .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 20%;
}
.about .wrapper .right .skills-container .skill p {
  transition: all 0.2s ease-in;
  opacity: 1;
}
.about .wrapper .right .skills-container .skill img {
  transition: all 0.2s ease-in;
  width: 80%;
}
.about .wrapper .right .skills-container .skill:hover img {
  scale: 1.2;
}
.about .wrapper .right .skills-container .skill:hover p {
  opacity: 1;
}
@media only screen and (min-width: 320px) {
  .about {
    flex-direction: column;
  }
  .about .left-side {
    width: 100%;
    height: 50%;
  }
  .about .right-side {
    width: 100%;
    height: 50%;
  }
  .about .wrapper {
    flex-direction: column;
  }
  .about .wrapper .left {
    width: 100%;
    height: 50%;
    padding: 0;
    gap: 2em;
  }
  .about .wrapper .left .social-media button {
    width: 1.5em;
    height: 1.5em;
  }
  .about .wrapper .left h2 {
    font-size: 2em;
    font-weight: bold;
  }
  .about .wrapper .left .heading h3 {
    font-size: 1em;
  }
  .about .wrapper .right {
    width: 100%;
    height: 50%;
    padding: 0;
    gap: 4em;
  }
  .about .wrapper .right .heading h3 {
    font-size: 1em;
  }
  .about .wrapper .right .skills-container {
    gap: 2em;
  }
  .about .wrapper .right .skills-container .skill {
    gap: 1.5em;
  }
  .about .wrapper .right .skills-container .skill img {
    width: 70%;
  }
}
@media only screen and (min-width: 641px) {
  .about .wrapper {
    flex-direction: column;
  }
  .about .wrapper .left {
    width: 100%;
    height: 50%;
    padding: 0;
    gap: 3.5em;
  }
  .about .wrapper .left .social-media button {
    width: 2em;
    height: 2em;
  }
  .about .wrapper .left h2 {
    font-size: 3.4em;
    font-weight: bold;
  }
  .about .wrapper .left p {
    font-size: 1.5em;
  }
  .about .wrapper .left .heading h3 {
    font-size: 2em;
  }
  .about .wrapper .right {
    width: 100%;
    height: 50%;
    padding: 0;
    gap: 5em;
  }
  .about .wrapper .right .heading h3 {
    font-size: 2em;
  }
  .about .wrapper .right .skills-container {
    gap: 3em;
  }
  .about .wrapper .right .skills-container .skill {
    gap: 3em;
  }
  .about .wrapper .right .skills-container .skill img {
    width: 50%;
  }
  .about .wrapper .right .skills-container .skill p {
    font-size: 2em;
  }
}
@media (orientation: landscape) and (min-width: 641px) {
  .about {
    flex-direction: row;
  }
  .about .left-side {
    width: 50%;
    height: 100%;
  }
  .about .right-side {
    width: 50%;
    height: 100%;
  }
  .about .wrapper {
    flex-direction: row;
  }
  .about .wrapper .left {
    width: 50%;
    height: 100%;
    padding: 0 5em 0 0;
    gap: 3.5em;
  }
  .about .wrapper .left .social-media button {
    width: 2em;
    height: 2em;
  }
  .about .wrapper .left h2 {
    font-size: 3.4em;
    font-weight: bold;
  }
  .about .wrapper .left p {
    font-size: 1.5em;
  }
  .about .wrapper .left .heading h3 {
    font-size: 2em;
  }
  .about .wrapper .right {
    width: 50%;
    height: 100%;
    padding: 0 0 0 5em;
    gap: 5em;
  }
  .about .wrapper .right .skills-container {
    gap: 2em;
  }
  .about .wrapper .right .skills-container .skill {
    gap: 3em;
  }
  .about .wrapper .right .skills-container .skill img {
    width: 70%;
  }
  .about .wrapper .right .skills-container .skill p {
    font-size: 1.5em;
  }
}/*# sourceMappingURL=index.css.map */