* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "NeueMetana-Regular";
  src: local("NeueMetana-Regular"), url("/src/fonts/NeueMetana-Regular.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "NeueMetana-Bold";
  src: local("NeueMetana-Bold"), url("/src/fonts/NeueMetana-Bold.otf") format("opentype");
  font-weight: bold;
}
body {
  color: #ffffff;
  font-family: "NeueMetana-Regular";
}

h1 {
  font-size: 60px;
  font-family: "NeueMetana-Bold";
}

h2 {
  font-size: 35px;
  font-weight: 500;
}

h3 {
  font-size: 20px;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 80px;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 60px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    padding: 0 20px;
  }
}

.main-btn {
  font-family: NeueMetana-Regular;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px 55px;
  background-color: #000;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 22px;
  margin-top: 20px;
  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.5));
  cursor: pointer;
  transition: 0.1s background-color ease-in-out;
}
.main-btn:hover {
  background-color: #961CBD;
}
@media screen and (max-width: 992px) {
  .main-btn {
    padding: 15px 50px;
    font-size: 18px;
  }
}
@media screen and (max-width: 576px) {
  .main-btn {
    padding: 10px 25px;
    font-size: 12px;
  }
}

.heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.heading .heading-line {
  width: 150px;
  height: 8px;
  background-color: #13BD19;
  translate: 0 -2px;
}
@media screen and (max-width: 576px) {
  .heading {
    gap: 0.5rem;
  }
  .heading h3 {
    font-size: 15px;
  }
  .heading .heading-line {
    width: 100px;
    height: 6px;
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: transparent;
  z-index: 9999;
}
.navbar .wrapper-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.navbar .wrapper-nav .hamburger {
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 111111;
}
.navbar .wrapper-nav .hamburger .line {
  height: 4px;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  transition: 0.2s;
}
.navbar .wrapper-nav .hamburger.active .line {
  transition-delay: 0.1s;
}
.navbar .wrapper-nav .hamburger.active .line:first-of-type {
  rotate: 45deg;
  translate: 0 10px;
}
.navbar .wrapper-nav .hamburger.active .line:nth-child(2) {
  opacity: 0;
}
.navbar .wrapper-nav .hamburger.active .line:last-of-type {
  rotate: -45deg;
  translate: 0 -10px;
}
.navbar .wrapper-nav .social-icons a {
  cursor: pointer;
}
.navbar .wrapper-nav .social-icons a img {
  width: 35px;
  height: 35px;
}
.navbar .wrapper-nav .social-icons a img:hover {
  color: #961CBD;
}
.navbar .wrapper-nav .social-icons #github {
  margin-right: 20px;
}
@media screen and (max-width: 576px) {
  .navbar {
    height: 80px;
  }
  .navbar .wrapper-nav .social-icons {
    display: flex;
    align-items: center;
  }
  .navbar .wrapper-nav .social-icons a img {
    width: 25px;
    height: 25px;
  }
  .navbar .wrapper-nav .social-icons a img:hover {
    color: #961CBD;
  }
  .navbar .wrapper-nav .social-icons #github {
    margin-right: 10px;
  }
}

.Home {
  height: 100vh;
  width: 100%;
  display: flex;
}
.Home .left-hero {
  width: 50%;
  height: 100%;
  background: url("/public/img/blurry-gradient-haikei 1.svg") no-repeat;
  background-size: cover;
  background-position: right;
}
.Home .right-hero {
  position: relative;
  width: 50%;
  height: 100%;
}
.Home .right-hero img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 750px;
}
@media screen and (min-width: 1480px) {
  .Home .right-hero img {
    right: 20%;
  }
}
@media screen and (min-width: 1640px) {
  .Home .right-hero img {
    right: 35%;
  }
}
@media screen and (max-height: 1000px) {
  .Home .right-hero img {
    width: 600px;
  }
}
@media screen and (max-height: 800px) and (max-width: 1480px) {
  .Home .right-hero img {
    width: 470px;
    right: 15%;
  }
}
.Home .wrapper {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Home .wrapper .heading {
  margin-bottom: 40px;
}
@media (max-width: 1350px) {
  .Home .wrapper h1 {
    font-size: 55px;
  }
  .Home .wrapper h2 {
    font-size: 35px;
  }
}
@media (max-width: 1250px) {
  .Home .wrapper h1 {
    font-size: 50px;
  }
  .Home .wrapper h2 {
    font-size: 30px;
  }
}
@media (max-width: 1150px) {
  .Home .wrapper h1 {
    font-size: 45px;
  }
  .Home .wrapper h2 {
    font-size: 25px;
  }
}
@media (max-width: 1050px) {
  .Home .wrapper h1 {
    font-size: 42px;
  }
  .Home .wrapper h2 {
    font-size: 22px;
  }
}
@media screen and (max-width: 992px) {
  .Home {
    flex-direction: column;
  }
  .Home .left-hero {
    width: 100%;
    height: 45%;
  }
  .Home .right-hero {
    width: 100%;
    height: 55%;
  }
  .Home .right-hero img {
    width: 70%;
    right: 0;
  }
  .Home .wrapper {
    justify-content: flex-start;
    margin-top: 150px;
  }
  .Home .wrapper h1 {
    font-size: 50px;
  }
  .Home .wrapper h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .Home .right-hero img {
    width: 55%;
    right: 50%;
    transform: translateX(50%);
  }
  .Home .wrapper {
    margin-top: 120px;
  }
  .Home .wrapper h1 {
    font-size: 45px;
  }
  .Home .wrapper h2 {
    font-size: 25px;
  }
}
@media screen and (max-width: 576px) {
  .Home .right-hero img {
    width: 85%;
    right: 50%;
    transform: translateX(60%);
    z-index: 999;
  }
  .Home .wrapper {
    margin-top: 100px;
  }
}
@media screen and (max-width: 576px) and (min-height: 896px) {
  .Home .wrapper {
    margin-top: 130px;
  }
}
@media screen and (max-width: 576px) {
  .Home .wrapper .heading {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 576px) {
  .Home .wrapper h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 576px) {
  .Home .wrapper h2 {
    font-size: 20px;
  }
}

.about {
  width: 100%;
  height: 100vh;
}/*# sourceMappingURL=index.css.map */