.container {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 80px;

    @include ssm {
        padding: 0 20px;
    }

    @include md {
        padding: 0 30px;
    }

    @include xl{
        padding: 0 60px;
    }
}


